.App {
  text-align: center;
}

.App-nav {
  background-color: grey;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

.App-nav > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: inherit;
  color: white;
  padding: 0 5px;
}

.App-active-navlink {
  background-color: black;
}
